
.ion-row{
	background-color: #cb202d;
}
.ion-icon{
	color: #ffffff;
	padding-left: 10px;
	font-size: 24px;
	vertical-align: middle;
}
.ion-label{
	color: #ffffff;
	padding-left: 90px;
	vertical-align: top;
	font-size: 18px;
}
.ion-col{
	padding-top: 13px;
	padding-bottom: 10px;
}
.ion-lab{
	color: #000000;
}
.Tix{
	font-size: 12px;
}
.ion-label-1{
	padding-left: 10px;
	color: #000000;
	font-size: 14px;
}

.ion-label-2{
	padding-left: 27px;
	color: #cb202d;
	font-size: 14px;
}
.ion-label-3{
	padding-left: 5px;
}
.span{
	color: #cb202d;
}
.Tix-1{
	font-size: 12px;
	padding-left: 240px;
	
}
.Tix-2{
	font-size: 12px;
	padding-left: 10px;
}

.ion-label-4{
	padding-left: 220px;
	font-weight: 700;
}
.total{
	padding-left: 10px;
}
.footer-button-1{
	text-transform: none;
	font-size: 16px;
	padding-left: 30px;
	padding-right: 32px;

}

.ion-col{
	padding-right: 20px;
}
.ion-select{
	float: right;
	padding-right: 30px;
}
.ion-row-1{
	padding-top: 100px;
}
.ion-label-5{
	padding-left: 30px;
	padding-bottom: 20px;
}
.ion-item{
	padding-bottom: 10px;
}