.ion-row{
	background-color: #cb202d;
}
.ion-icon{
	color: #ffffff;
	padding-left: 10px;
	font-size: 24px;
	vertical-align: middle;
}
.ion-label{
	color: #ffffff;
	padding-left: 120px;
	vertical-align: top;
	font-size: 18px;
}
.ion-col{
	padding-top: 13px;
	padding-bottom: 10px;
}
.ion-label-1{
	text-transform: none;
	font-size: 14px;
}
.ion-row-1{
    padding-top: 20px;
    padding-left: 10px;
}
.ion-label-2{
    font-size: 14px;
    color: #7b7b7b;
}
.ion-col-1{
    padding-left: 20px;
}