<ion-header>
</ion-header>
<ion-content>
    <ion-row class="ion-row">
        <ion-col class="ion-col" size="12">
       <ion-icon (click)=Menu() class="ion-icon" name="arrow-dropleft"></ion-icon>
        <ion-label class="ion-label">My Groups</ion-label>	
        </ion-col>	
       </ion-row>

       <ion-row class="ion-row-1">
          <ion-col size="4">
            <img src="/assets/holi.png">
          </ion-col>
          <ion-col class="ion-col-1" size="8">
            <ion-label>Bollywood Nightlife Group</ion-label><br>
            <ion-label class="ion-label-2">Boston, MA</ion-label><br>
            <ion-label class="ion-label-2">23 Events Hosted</ion-label><br>
            <ion-label class="ion-label-2">233 members</ion-label><br>
          </ion-col>
        </ion-row> 

        <ion-row class="ion-row-1">
            <ion-col size="4">
              <img src="/assets/holi.png">
            </ion-col>
            <ion-col class="ion-col-1" size="8">
              <ion-label>Boston Bollywood Nightlife Events Group</ion-label><br>
              <ion-label class="ion-label-2">Boston, MA</ion-label><br>
              <ion-label class="ion-label-2">55 Events Hosted</ion-label><br>
              <ion-label class="ion-label-2">343 members</ion-label><br>
            </ion-col>
          </ion-row> 
        
          <ion-row class="ion-row-1">
              <ion-col size="4">
                <img src="/assets/holi.png">
              </ion-col>
              <ion-col class="ion-col-1" size="8">
                <ion-label>Bollywood Nightlife Group</ion-label><br>
                <ion-label class="ion-label-2">Boston, MA</ion-label><br>
                <ion-label class="ion-label-2">23 Events Hosted</ion-label><br>
                <ion-label class="ion-label-2">233 members</ion-label><br>
              </ion-col>
            </ion-row> 

</ion-content>
