.Back{
	padding-left: 5px;
	vertical-align: top;
	font-size: 14px;
	color: #0EB8F5;
}
.arrow-round-back{
	font-size: 20px;
	color: #0EB8F5;
	padding-left: 5px;
}.Interested{
	padding-left: 5px;
	vertical-align: top;
	font-size: 16px;
	text-align: center;
	color: #cb202d;
}
.star{
	font-size: 20px;
	text-align: center;
	color: #cb202d;
	padding-left: 7px;
}
.ion-row{
	padding-top: 5px;
	padding-bottom: 5px;
}
.img{
	height: 230px;
	width: 100%;
	padding-bottom: 10px;
}
.ion-title{
	font-size: 20px;
	padding-left: 20px;
}
.ion-label{
	padding-left: 20px;
	padding-top: 5px;
	font-size: 16px;
}
.arrow-round-forward{
	font-size: 28px;
}
.ion-row-1{
	padding-top: 10px;
}
.calendar{
	padding-left: 14px;
	font-size: 30px;
	color: #cb202d;
}
.ion-label-1{
	font-size: 14px;
}
.time{
	font-size: 14px;
	text-align: top;
}

.pin{
	color: #cb202d;
	font-size: 30px;
	padding-right: 15px;
}
.ion-label-2{
	padding-left: 14px;
	font-size: 14px;
}
.ion-label-3{
	font-size: 18px;	
}
.Details{
	font-size: 18px;
}
.description{
	padding-top: 10px;
}
.span{
	color: #cb202d;
}
.map{
	width: 100%;
	padding-top: 10px;
	padding-bottom: 20px;
}
.ion-row-3{
	padding-top: 20px;
	padding-bottom: 20px;
}

.person{
	font-size: 30px;
}
.span-1{
	vertical-align: bottom;
}
.button{
	text-align: top;
}
.ion-col{
	padding-top: 20px;
}
.ion-col-1{
	padding-bottom: 20px;
}
.Comments{
	padding-left: 20px;
	font-size: 18px; 
	padding-top: 20px;
}
.ion-icon-1{
	float: right;
	font-size: 30px;
}
.name{
	font-size: 16px;
	font-style: bold;
	padding-left: 5px;
}

.name-1{
	font-size: 12px;
	padding-left: 5px;
}
.name-3{
	padding-top: 10px;
	padding-left: 25px;
	font-size: 12px;
}

.Reply{
	font-size: 12px;
	float: right;
}
.person-3{
	font-size: 35px;
	float: right;
}
.ion-card-1{
	padding-bottom: 20px;
}
.ion-button-1{
	font-size: 10px;
}
.footer-button{
	font-size: 16px;
	padding-left: 30px;
	padding-right: 32px;
	text-transform: none;
}