<ion-header>

</ion-header>
<ion-content>
<ion-row class="ion-row">
	<ion-col class="ion-col" size="12">
		<ion-icon (click)=Home() class="ion-icon" name="close"></ion-icon>
	</ion-col>
	<ion-col size="12">
		<ion-icon class="ion-icon-1" name="contact"></ion-icon>
		<p class="name">Prashanth Reddy</p>
	</ion-col>
</ion-row>
<ion-row (click)=account() class="ion-row-1">
	<ion-col size="10.5">
		<ion-label class="ion-label">Account</ion-label>
	</ion-col>
	<ion-col size="1.5">
	<ion-icon class="ion-icon-2" name="arrow-dropright"></ion-icon>
	</ion-col>
</ion-row>
<ion-row (click)=my_tickets() class="ion-row-1">
	<ion-col size="10.5">
		<ion-label class="ion-label">My Tickets</ion-label>
	</ion-col>
	<ion-col size="1.5">
	<ion-icon class="ion-icon-2" name="arrow-dropright"></ion-icon>
	</ion-col>
</ion-row>
<ion-row (click)=my_groups() class="ion-row-1">
	<ion-col size="10.5">
		<ion-label class="ion-label">My Groups</ion-label>
	</ion-col>
	<ion-col size="1.5">
	<ion-icon class="ion-icon-2" name="arrow-dropright"></ion-icon>
	</ion-col>
</ion-row>
<ion-row (click)=Interests() class="ion-row-1">
	<ion-col size="10.5">
		<ion-label class="ion-label">Interests</ion-label>
	</ion-col>
	<ion-col size="1.5">
	<ion-icon class="ion-icon-2" name="arrow-dropright"></ion-icon>
	</ion-col>
</ion-row>
<ion-row (click)=Contact_us() class="ion-row-1">
	<ion-col size="10.5">
		<ion-label class="ion-label">Contact Us</ion-label>
	</ion-col>
	<ion-col size="1.5">
	<ion-icon class="ion-icon-2" name="arrow-dropright"></ion-icon>
	</ion-col>
</ion-row>
<ion-row (click)=Home() class="ion-row-1">
	<ion-col size="10.5">
		<ion-label class="ion-label">Logout</ion-label>
	</ion-col>
	
</ion-row>

</ion-content>