.ion-row{
	background-color: #cb202d;
}
.ion-icon{
	color: #ffffff;
	padding-left: 10px;
	font-size: 24px;
	vertical-align: middle;
}
.ion-label{
	color: #ffffff;
	padding-left: 130px;
	vertical-align: top;
	font-size: 18px;
}
.ion-col{
	padding-top: 13px;
	padding-bottom: 10px;
}
.ion-button-1{
	font-size: 10px;
}
.ion-row-1{
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
}