.class{
	background-color: #cb202d;
}
.pin{
	color: #ffffff;
	font-size: 22px;
	padding-left: 10px;
}
.Boston{
	color: #ffffff;
	vertical-align: top;
	padding-left: 3px;
	padding-top: 3px;
}
.kwi{
	color: #ffffff;
	padding-left: 35px;
}

.search{
	float: right;
	font-size: 22px;
	color: #ffffff;
}

.img-1{
	max-height: 200px;
}
.person-1{
	font-size: 30px;
}
.ion-column{
	font-size: 20px;
	padding-right: 5px;
}
.red{
	color: #cb202d;
	font-size: 20px;
}

.ion-row{
padding-top: 5px;
}
.Interested{
	padding-left: 3px;
	font-size: 16px;
	vertical-align: top;
}
.star{
	color: #cb202d;
	font-size: 20px;
	padding-left: 5px;
}


.ion-label{
	padding-left: 20px;
}
.ion-label-1{
	text-transform: none;
	font-size: 14px;
}